.selector-flex-content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
  }

.item_buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.selector-fonts {
  font-family: 'NunitoSans-Light';
  background-color: #F7F7F7;
  height: 100vh;
  margin: 0;
}

button:disabled {
  color: grey;
  opacity: 0.5;
  cursor: default;
}

button:active{
  background-color:red;
}

del {
	color: red;
	text-decoration: line-through;
}

.gallery {
  padding: 2%;
  min-height: 1px;
  height:450px;
  width: 80%;
  border: 1px solid #ddd;
  overflow: auto;
  text-align: center;
  background: white;
  overflow: scroll;
  overflow-x: hidden;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(8, 31, 105, 0.5);
}



button {background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%)}
button {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
